<!DOCTYPE html>
<html>
  <head>
    <title>AdminPanel</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <li><%= link_to "Home", root_path %></li>
    <li>
      <% if user_signed_in?  %>
        <%= link_to "Logout", destroy_user_session_path, :method => :delete  %>
        <%= link_to "Hello " + current_user.email, edit_user_registration_path %>

      <% end %>

    </li>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
