<!DOCTYPE html>
<html>
  <head>
    <title>AdminPanel</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <li><%= link_to "Home", root_path %></li>
    <li>
      <li><%if user_signed_in? %></li>
        <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
        <li class="active"><%= link_to "Hello " + current_user.email, edit_user_registration_path%></li>
        <li><%else%></li>
        <li><%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %></li>
        <li><%end%></li>
        <li class="notice"><%= notice %></li>
        <li class="alert"><%= alert %></li>

    </li>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>

